@import 'styles/utils/colors';
@import 'styles/utils/common-styles';
@import 'styles/utils/transitions';
@import 'styles/utils/breakpoints';

.positionSectionWrapper {
    .positionHeaderContainer {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include breakpoint('mobile') {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    .positionTitle {
        @include underlined-action-text;
    }

    .positionTimeframe {
        margin-left: auto;
        font-size: .9rem;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        color: color('off-black');

        @include breakpoint('mobile') {
            margin: 0 0 .75rem 0;
        }
    }

    .positionDescription {
        margin-top: 1rem;
    }
}
