@import 'styles/utils/variables';
@import 'styles/utils/colors';
@import 'styles/utils/breakpoints';

.splashWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 5rem);
    min-height: 46rem;
    max-height: 70rem;
    background: url('/images/backgrounds/splash-background-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .welcomeContainer {
        box-sizing: border-box;
        width: 44rem;
        margin: auto;

        @include breakpoint('tablet') {
            max-width: 65%;
        }

        @include breakpoint('phablet') {
            max-width: 80%;
        }
        
        @include breakpoint('phablet', 'mobile') {
            width: 100%;
            padding: 0 3rem;
        }

        p, h2 {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            line-height: 2.2rem;
            color: color('off-white');
        }

        .welcomeMessage {
            margin-bottom: 2rem;
            font-size: 1.5rem;
            text-align: left;
        }

        .closingMessage {
            font-size: 1.25rem;
        }

        .signature {
            font-size: 1.75rem;
            font-family: 'Kalam', cursive;
        }
    }

    .pageDownContainer {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2rem;
        width: 100%;
        max-width: $content-max-width;
        padding: 0 3rem;
        margin: auto;

        .pageDownIcon {
            display: block;
            margin-left: auto;
            color: color('off-white');
        }
    }
}

.infoCardSectionContentWrapper {
    h2 {
        margin: 0 0 2rem 0;
        font-family: 'Lato', 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: color('primary');
    }

    h3 {
        margin: 2rem 0 1rem 0;
        font-family: 'Lato', 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2rem;
        text-transform: uppercase;
        color: color('primary');
    }

    .articleBreak {
        width: 13rem;
        height: .2rem;
        margin: 3rem 0 3rem 0;
        border-radius: 2px;
        background-color: color('primary-accent');
    }
}
