@import 'styles/utils/colors';
@import 'styles/utils/breakpoints';

.articleWrapper {
    display: block;
    margin: 0 auto 2.5rem auto;
    
    header {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: .5rem;

        @include breakpoint('mobile') {
            flex-direction: column;
            align-items: flex-start;
        }

        h4 {
            font-family: 'Lato', 'Roboto', sans-serif;
            font-size: 1.4rem;
            font-weight: 500;
        }

        .timeframe {
            margin: .15rem 0 0 auto;
            margin-top: .15rem;
            font-size: .9rem;
            font-family: 'Roboto', sans-serif;
            font-style: italic;
            color: color('off-black');

            @include breakpoint('mobile') {
                margin: .75rem 0 0 0;
            }
        }
    }

}
