@import 'styles/utils/colors';
@import 'styles/utils/breakpoints';
@import 'styles/utils/transitions';

.infoCard {
    box-sizing: border-box;
    flex-shrink: 0;
    position: sticky;
    top: 5rem;
    width: 25rem;
    margin-right: 5rem;
    border-radius: 2px;
    background-color: color('off-white');

    @include breakpoint('tablet') {
        width: 65%;
        margin: 0 auto 3rem auto;
    }

    @include breakpoint('phablet') {
        width: 80%;
        margin: 0 auto 3rem auto;
    }

    @include breakpoint('mobile') {
        width: 100%;
        margin: 0 auto 3rem auto;
    }

    img {
        width: 100%;
        margin-bottom: .75rem;
        border-radius: .2rem;
    }

    .fullLineBreak {
        width: 100%;
        height: .2rem;
        margin-bottom: .5rem;
        border-radius: 2px;
        background-color: color('primary');
    }

    .partialLineBreak {
        width: 85%;
        height: .2rem;
        margin-bottom: 1.5rem;
        border-radius: 2px;
        background-color: color('primary-accent');
    }

    .iconInfoContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;

        .pinIcon, .mailIcon, .githubIcon, .gitlabIcon, .linkedinIcon {
            color: color('primary');
        }

        .linkedinIcon {
            margin-bottom: .2rem;
        }

        span, a {
            margin-left: .8rem;
            font-family: 'Lato', 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 1.1rem;
            letter-spacing: .25px;
            color: color('dark');
        }

        a {
            @include ease-in-out(.2s);
            padding-bottom: .2rem;
            border-bottom: .1rem dotted color('primary-tint');
            outline: none;
            text-decoration: none;
            color: color('primary-tint', 'opacity', .7);

            &:hover {
            color: color('primary-tint', 'opacity', 1);
            }
        }
    }

    .buttonLink {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1.5rem;
        padding: .5rem 0;
        outline: none;
        border-radius: .2rem;
        background-color: color('primary-accent', 'lighten', 5);
        text-decoration: none;

        &:hover {
            .downloadIcon {
                color: color('primary-tint', 'opacity', 1);
            }

            span {
                color: color('primary-tint', 'opacity', 1);
            }
        }

        .downloadIcon {
            @include ease-in-out(.2s);
            color: color('primary-tint', 'opacity', .7);
        }

        span {
            @include ease-in-out(.2s);
            margin-left: .75rem;
            margin-right: .3rem;
            font-family: 'Lato', 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 1.1rem;
            letter-spacing: .5px;
            color: color('primary-tint', 'opacity', .7);
        }
    }
}
