@import 'styles/utils/variables';
@import 'styles/utils/colors';

.wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
    background-color: color('primary-accent', 'lighten', 5);
    
    .container {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: right;
        width: 100%;
        max-width: $content-max-width;
        padding: 0 3rem;
    }

    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem auto 0 auto;
        font-family: 'Lato', 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        color: color('primary', 'opacity', .6);
    }

    .heartIcon {
        margin: 0 .3rem 0 .3rem;
        color: color('primary-accent');
    }
}
